@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Parisienne";
    src: url("/static/Parisienne/Parisienne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "EB Garamond";
    src: url("/static/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "EB Garamond";
    src: url("/static/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 800;
    font-style: italic;
    font-display: swap;
  }
}

@theme {
  --font-parisienne: "Parisienne", cursive;
  --font-garamond: "EB Garamond", serif;
}
