@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Parisienne";
    src: url("/static/Parisienne/Parisienne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "EB Garamond";
    src: url("/static/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "EB Garamond";
    src: url("/static/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 800;
    font-style: italic;
    font-display: swap;
  }

  #root {
    background-color: var(--color-gray-100);
  }

  p {
    font-family: var(--font-garamond), serif;
    color: var(--color-slate-800);
  }

  h1,
  h2,
  h3 {
    color: var(--color-slate-800);
  }

  h1 {
    font-family: var(--font-parisienne), cursive;
    font-size: var(--text-6xl);
  }

  h2 {
    font-family: var(--font-garamond), serif;
    font-variant-caps: small-caps;
    font-size: var(--text-4xl);
  }

  h3 {
    font-family: var(--font-garamond), serif;
    font-variant-caps: small-caps;
    font-size: var(--text-2xl);
  }
}

@theme {
  --font-parisienne: "Parisienne", cursive;
  --font-garamond: "EB Garamond", serif;

  --spacing-0: 0px;
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-3: 3px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-9: 9px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-80: 80px;
  --spacing-96: 96px;
}
