:root {
  --bg-color: rgb(230, 230, 230);
  --text-color: rgb(30, 30, 30);
  --icon-color: rgb(160, 98, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(30, 30, 30);
    --text-color: rgb(185, 185, 185);
    --icon-color: rgb(160, 98, 0);
  }
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
p,
ul {
  font-family: monospace;
  color: var(--text-color);
  font-weight: 300;
}

a {
  color: var(--text-color);
}

h1 {
  font-size: 24px;
}

h2,
h3 {
  font-size: 16px;
}

h3 {
  font-size: 12px;
  margin-bottom: 0;
}

p,
li {
  font-size: 12px;
  margin-bottom: 8px;
}

ul {
  padding-left: 16px;
}

.root-container {
  max-width: 480px;
  margin: auto;
}

.top-image {
  width: 100%;
  height: auto;
}

.heading {
  text-align: center;
  margin-bottom: 0;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.svg-icon {
  color: var(--icon-color);
  margin-left: 8px;
  margin-right: 8px;
  height: 64px;
  width: 64px;
}

.content {
  padding: 0 8px 32px;
}

@media only screen and (min-width: 481px) {
  .heading-container {
    display: flex;
    justify-content: space-between;
  }

  .top-image {
    margin-top: 32px;
    border-radius: 8px;
  }
  .content {
    padding: 0 0 32px;
  }
}

@media only screen and (min-width: 1000px) {
  .root-container {
    max-width: 900px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }

  .heading-companion-text {
    font-size: 24px;
  }
}
