:root {
  --bg-color: rgb(30, 30, 30);
  --text-color: rgb(185, 185, 185);
  --highlight-color: #df8900;
}

body {
  background-color: var(--bg-color);
  text-transform: lowercase;
}

h1,
h2,
p,
ul {
  font-family: monospace;
  color: var(--text-color);
  font-weight: 300;
}

a {
  color: var(--text-color);
}

h1 {
  font-size: 24px;
}

h2,
h3 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

h3 {
  font-size: 12px;
  margin-bottom: 0;
}

p,
li {
  font-size: 12px;
  margin-bottom: 8px;
}

ul {
  padding-left: 16px;
}

.root-container {
  padding: 16px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--highlight-color);
  padding-top: 8px;
  padding-bottom: 8px;
}

.top-image {
  width: 100%;
  height: auto;
}

.heading {
  margin: 0;
  text-align: center;
  color: var(--highlight-color);
}

.icon-container {
  display: flex;
  justify-content: center;
}

.svg-icon {
  color: var(--highlight-color);
  margin-left: 8px;
  margin-right: 8px;
  height: 48px;
  width: 48px;
}

.content {
  padding: 0 8px 32px;
}

@media only screen and (min-width: 481px) {
  .top-image {
    border-radius: 8px;
  }
  .content {
    padding: 0 0 32px;
  }
}

@media only screen and (min-width: 1000px) {
  .root-container {
    max-width: 900px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }

  .heading-companion-text {
    font-size: 24px;
  }
}
