:root {
  --bg-color: rgb(30, 30, 30);
  --text-color: rgb(185, 185, 185);
}

body {
  background-color: var(--bg-color);
  padding-left: 24px;
}

h1,
ol {
  font-family: monospace;
  color: var(--text-color);
  font-weight: 300;
}

a {
  color: var(--text-color);
}

h1 {
  font-size: 24px;
}

li {
  font-size: 16px;
  margin-bottom: 16px;
  vertical-align: middle;
}
