:root {
  --bg-color: rgb(30, 30, 30);
  --text-color: rgb(185, 185, 185);
  --icon-color: rgb(160, 98, 0);
}

body {
  background-color: var(--bg-color);
  padding-left: 24px;
}

h1,
h2,
p,
ul {
  font-family: monospace;
  color: var(--text-color);
  font-weight: 300;
}

a {
  color: var(--text-color);
}

h1 {
  font-size: 24px;
}

li {
  font-size: 16px;
  margin-bottom: 16px;
  list-style: none;
  vertical-align: middle;
}

ul {
  padding: 0;
}

.rating {
  font-size: 18px;
  padding-right: 16px;
}

.rating-10 {
  color: rgb(214, 193, 0);
  text-shadow: 0 0 2px rgb(214, 193, 0), 0 0 5px rgb(214, 193, 0);
}
.rating-9 {
  color: rgb(235, 235, 235);
  text-shadow: 0 0 2px rgb(235, 235, 235), 0 0 5px rgb(235, 235, 235);
}
.rating-8 {
  color: rgb(160, 98, 0);
  text-shadow: 0 0 2px rgb(160, 98, 0), 0 0 5px rgb(160, 98, 0);
}
